<div>
  <h3><%= @user.name %></h3>
  <%= link_to "フォローリスト", user_followings_path(@user.id) %>
  <%= link_to "フォロワーリスト", user_followers_path(@user.id) %>
</div>

<div>
  <% if current_user.following?(@user) %>
    <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
  <% else %>
    <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
  <% end %>
</div>

<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user.name == "guestuser" %>
    <div class='row'>
      <%= link_to '',edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
    </div>
  <% else %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @destinations.each do |destination| %>
<div>
  <%= link_to destination_path(destination.id) do %>
    <%= image_tag destination.get_image(200,300) %>
  <% end %>
  <p>スポット名：<%= destination.spot_name %></p>
  <p>説明：<%= destination.spot_introduction %></p>
  <p><%= link_to "#{destination.post_comments.count} コメント", destination_path(destination.id) %></p>
</div>
<% end %>

<% if current_user.admin? && !(current_user == @user) %>
    <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" } %>
<% end %>

