  <div class="container pt-5">
    <div>
      <h6>Serach travel info on HP</h6>
    </div>
    <div class="pt-3 pb-2">
      <h8>Hokkaido Area</h8>
    </div>
    <div>
      <%= link_to 'Hokkaido', 'https://www.pref.hokkaido.lg.jp/', class: 'btn btn-primary btn-sm' %>
    </div>
    <div class="pt-3 pb-2">
      <h8>Tohoku Area</h8>
    </div>
    <div>
      <%= link_to 'Aomori', 'https://www.pref.aomori.lg.jp/', class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Iwate', 'https://www.pref.iwate.lg.jp/', class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Miyagi', 'https://www.pref.miyagi.jp/', class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Akita', 'https://www.pref.akita.lg.jp/', class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Yamagata', 'https://www.pref.yamagata.jp/', class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Fukushima', 'https://www.pref.fukushima.lg.jp/', class: 'btn btn-primary btn-sm' %>
    </div>
    <div class="pt-3 pb-2">
      <h8>Kanto Area</h8>
    </div>
    <div>
      <%= link_to 'Tokyo', 'https://www.metro.tokyo.lg.jp/', class: 'btn btn-info btn-sm' %>
      <%= link_to 'Kanagawa', 'https://www.pref.kanagawa.jp/', class: 'btn btn-info btn-sm' %>
      <%= link_to 'Chiba', 'https://www.pref.chiba.lg.jp/', class: 'btn btn-info btn-sm' %>
      <%= link_to 'Saitama', 'https://www.pref.saitama.lg.jp/', class: 'btn btn-info btn-sm' %>
      <%= link_to 'Ibaraki', 'https://www.pref.ibaraki.jp/', class: 'btn btn-info btn-sm' %>
      <%= link_to 'Tochigi', 'https://www.pref.tochigi.lg.jp/', class: 'btn btn-info btn-sm' %>
      <%= link_to 'Gunma', 'https://www.pref.gunma.jp/', class: 'btn btn-info btn-sm' %>
    </div>
    <div class="pt-3 pb-2">
      <h8>Tyubu, Hokuriku Area</h8>
    </div>
    <div>
      <%= link_to 'Niigata', 'https://www.pref.niigata.lg.jp/', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Toyama', 'https://www.pref.toyama.jp/', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Ishikawa', 'https://www.pref.ishikawa.lg.jp/', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Fukui', 'https://www.pref.fukui.lg.jp/', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Yamanashi', 'https://www.pref.yamanashi.jp/', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Nagano', 'https://www.pref.nagano.lg.jp/', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Gifu', 'https://www.pref.gifu.lg.jp/', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Shizuoka', 'https://www.pref.shizuoka.jp/', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Aichi', 'https://www.pref.aichi.jp/', class: 'btn btn-success btn-sm' %>
    </div>
    <div class="pt-3 pb-2">
      <h8>Kansai Area</h8>
    </div>
    <div>
      <%= link_to 'Mie', 'https://www.pref.mie.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Shiga', 'https://www.pref.shiga.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Kyoto', 'https://www.pref.kyoto.jp/",', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Osaka', 'https://www.pref.osaka.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Hyogo', 'https://www.pref.hyogo.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Nara', 'https://www.pref.nara.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Wakayama', 'https://www.pref.wakayama.lg.jp/', class: 'btn btn-warning btn-sm' %>
    </div>
    <div class="pt-3 pb-2">
      <h8>Tyugoku Area</h8>
    </div>
    <div>
      <%= link_to 'Tottori', 'https://www.pref.tottori.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Shimane', 'https://www.pref.shimane.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Okayama', 'https://www.pref.okayama.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Hiroshima', 'https://www.pref.hiroshima.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Yamaguchi', 'https://www.pref.yamaguchi.lg.jp/', class: 'btn btn-warning btn-sm' %>
    </div>
    <div class="pt-3 pb-2">
      <h8>Shikoku Area</h8>
    </div>
    <div>
      <%= link_to 'Tokushima', 'https://www.pref.tokushima.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Kagawa', 'https://www.pref.kagawa.lg.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Ehime', 'https://www.pref.ehime.jp/', class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Kochi', 'https://www.pref.kochi.lg.jp/', class: 'btn btn-warning btn-sm' %>
    </div>
    <div class="pt-3 pb-2">
      <h8>Kyusyu, Okinawa Area</h8>
    </div>
    <div>
      <%= link_to 'Fukuoka', 'https://www.pref.fukuoka.lg.jp/', class: 'btn btn-danger btn-sm' %>
      <%= link_to 'Saga', 'https://www.pref.saga.lg.jp/', class: 'btn btn-danger btn-sm' %>
      <%= link_to 'Nagasaki', 'https://www.pref.nagasaki.lg.jp/', class: 'btn btn-danger btn-sm' %>
      <%= link_to 'Kumamoto', 'https://www.pref.kumamoto.jp/', class: 'btn btn-danger btn-sm' %>
      <%= link_to 'Oita', 'https://www.pref.oita.lg.jp/', class: 'btn btn-danger btn-sm' %>
      <%= link_to 'Miyazaki', 'https://www.pref.miyazaki.lg.jp/', class: 'btn btn-danger btn-sm' %>
      <%= link_to 'Kagoshima', 'https://www.pref.kagoshima.jp/', class: 'btn btn-danger btn-sm' %>
      <%= link_to 'Okinawa', 'https://www.pref.okinawa.lg.jp/', class: 'btn btn-danger btn-sm' %>
    </div>
</div>