<h1>投稿フォーム</h1>

  <% if @destination.errors.any? %>
  <%= @destination.errors.count %>件のエラーが発生しました
  <ul>
    <% @destination.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<p>"*" is required field.（*は必須入力）</p>
<div>
  <%= form_with model: @destination, method: :post do |f| %>
    <h4>画像*</h4>
    <%= f.file_field :image, accept: "image/*" %>

    <h4>スポット名*</h4>
    <%= f.text_field :spot_name %>

    <h4>説明</h4>
    <%= f.text_area :spot_introduction %>

    <h4>県*</h4>
    <div>
      <%= f.label :prefecture %>
      <%= f.select :prefecture, Destination.prefectures.keys, {} %>
    </div>

    <h4>市町村*</h4>
    <%= f.text_field :city %>

    <h4>交通機関*</h4>
    <%= f.text_field :transportation %>

    <h4>ルート</h4>
    <%= f.text_area :route %>

    <h4>宿泊地</h4>
    <%= f.text_field :hotel %>

    <h4>交通機関での支払い</h4>
    <div class="field">
      <% %w(Cash Creditcard Debitcard PrepaidIC Applepay QRcode Paypay).each.with_index do |transportation_pay,i| %>
      <label>
      <%= check_box_tag 'destination[transportation_pays][]', transportation_pay,false,id:"destination_transportation_pays_#{i}"%>
      <%= transportation_pay %>
      </label>
      <% end %>
    </div>

    <h4>現地での支払い</h4>
    <div class="field">
      <% %w(Cash Creditcard Debitcard PrepaidIC Applepay QRcode Paypay).each.with_index do |destination_pay,i| %>
      <label>
      <%= check_box_tag 'destination[destination_pays][]', destination_pay,false,id:"destination_destination_pays_#{i}"%>
      <%= destination_pay %>
      </label>
      <% end %>
    </div>

    <h4>宿泊先での支払い</h4>
    <div class="field">
      <% %w(Cash Creditcard Debitcard PrepaidIC Applepay QRcode Paypay).each.with_index do |hotel_pay,i| %>
      <label>
      <%= check_box_tag 'destination[hotel_pays][]', hotel_pay,false,id:"destination_hotel_pays_#{i}"%>
      <%= hotel_pay %>
      </label>
      <% end %>
    </div>

    <h4>外貨両替所</h4>
    <%= f.text_field :exchange %>

    <h4>その他情報</h4>
    <%= f.text_area :other_info %>

    <div>
    <%= f.submit '投稿' %>
    </div>
  <% end %>
</div>
