<div class="container pt-4">
  <div class="row pb-4">
    <div class=col-5>
      <%= image_tag @destination.get_image(400,400) %>
    </div>
    <div class="col-7">
      <h4 class="pb-3"><%= @destination.spot_name %></h4>
      <h6>Introduction（説明）：</br><%= @destination.spot_introduction %></h6>
      <h6 class="pt-3">Prefecture（県）：<%= @destination.prefecture %></h6>
      <h6 class="pt-3">City（市町村）：<%= @destination.city %></h6>
    </div>
  </div>
    <div id='map'></div>
    <style>
    #map {
      height: 400px;
      width: 100%;
    }
    </style>
    <!-- js部分 -->
    <script>
    //初期マップの設定
    let map
    let marker
    function initMap(){
      geocoder = new google.maps.Geocoder()
      map = new google.maps.Map(document.getElementById('map'), {
        center:  {lat: <%= @destination.lat %>, lng: <%= @destination.lng %>},
        zoom: 15,
      });
       marker = new google.maps.Marker({
        position:  {lat: <%= @destination.lat %>, lng: <%= @destination.lng %>},
        map: map
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>

  <table class="table">
    <tr><th>Transportation（交通機関）</th><th><%= @destination.transportation %></th></tr>
    <tr><th>Routes（ルート）</th><th><%= @destination.route %></th></tr>
    <tr><th>Accommodation（宿泊地）</th><th><%= @destination.hotel %></th></tr>
    <tr><th>Available payment method for transportation（交通機関での決済手段）</th><th><%= @destination.transportation_pays %></th></tr>
    <tr><th>Available payment method at the spot（現地での決済手段）</th><th><%= @destination.destination_pays %></th></tr>
    <tr><th>Available payment method for the accommodation（宿泊地での決済手段）</th><th><%= @destination.hotel_pays %></th></tr>
    <tr><th>Currency exchange office（近くの外貨両替所）</th><th><%= @destination.exchange %></th></tr>
    <tr><th>Othe info（その他の情報）</th><th><%= @destination.other_info %></th></tr>
  </table>

  <div class="row pt-4">
    <div class="col-2">
      <%= link_to user_path(@destination.user.id) do %>
      <p><%= image_tag @destination.user.get_profile_image(100,100), class:"rounded-circle"; %></p>
      <% end %>
    </div>
    <div class="col-3">
      <p>Username：<%= link_to user_path(@destination.user.id) do %><%= @destination.user.name %></p>
      <% end %>
      <p class="pt-4">Post date：<%= @destination.created_at.strftime('%Y/%m/%d') %></p>
    </div>
    <div class="col-2">
      <% if @destination.user == current_user %>
        <%= link_to "Edit", edit_destination_path(@destination), method: :get, class: 'btn btn-success' %>
      <% end %>

      <% if @destination.user == current_user %>
        <%= link_to "Delete", destination_path(@destination), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <div>
    <% if @destination.favorited_by?(current_user) %>
      <p>
        <%= link_to destination_favorites_path(@destination), method: :delete do %>
          ♥<%= @destination.favorites.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to destination_favorites_path(@destination), method: :post do %>
          ♡<%= @destination.favorites.count %> いいね
        <% end %>
      </p>
    <% end %>
  </div>

    <div>
      <p>コメント件数：<%= @destination.post_comments.count %></p>
      <% @destination.post_comments.each do |post_comment| %>
        <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
        <%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>

        <% if post_comment.user == current_user %>
         <%= link_to "削除", destination_post_comment_path(post_comment.destination, post_comment), method: :delete %>
        <% end %>

      <% end %>
    </div>
    <div>
      <%= form_with model: [@destination, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>

    <% if current_user.admin? && !(current_user == @destination.user) %>
      <%= link_to "delete", @destination, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>



</div>